.option-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 90%;
  font-size: 1.7rem;
  border: 0.1rem solid rgb(34, 95, 36, 0.25);
  background: white;
  margin: 3px auto;
}

.option-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(34, 95, 36, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.option-prefix {
  padding: 1.5rem 2.5rem;
  background: rgb(74, 134, 74);
  color: white;
}

.option-text {
  padding: 1.5rem;
  width: 100%
}

.correct {
  background: rgb(84, 189, 84);
}

.incorrect {
  background: #dc3545
}

/* Game header */
#gamehead {
  display: flex;
  justify-content: space-between;
}

.gamehead-prefix {
  text-align: center;
  font-size: 2rem;
}

.gamehead-main-text {
  text-align: center;
}