* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-weight: 400;
  font-size: 20px;
}

form {
  border: 3px solid #f1f1f1;
  margin: 20px;
  padding: 40px;
}

input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(34, 95, 36);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.login {
  /* border: 3px solid #6d6161; */
  padding: 16px;
  margin: 50px auto;
  width: 40%;
  text-align: center;
}

.small {
  font-size: 14px;
}